version: '3.8'
services:
  postgres:
    image: postgres:18.1-alpine3.23
    container_name: veterinary_diagnostics_postgres
    environment:
      POSTGRES_DB: veterinary_diagnostics
      POSTGRES_USER: vet_user
      POSTGRES_PASSWORD: vet_password # TODO change this in production
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
volumes:
  postgres_data:
